@model PagedList.IPagedList<TracNghiem.ViewModel.QuizTestViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Đề thi của tôi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/AdminLTE/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />

<div style="margin-top:10px;"></div>

<div class="row">

    <div class="col-12">
        <div class="card">
            <div style="padding: 0.75rem 1.25rem;">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div>
                            <label style="display:inline-block;font-weight:normal">Sắp xếp theo <b>@ViewBag.sortname</b> @ViewBag.Sort</label>
                        </div>
                        @Html.ActionLink("Tiêu đề", "MyQuizTest", new { sortOrder = "title", CurrentSort = ViewBag.CurrentSort, titleStr = ViewBag.titleStr }) |
                        @Html.ActionLink("Ngày tạo", "MyQuizTest", new { sortOrder = "createdate", CurrentSort = ViewBag.CurrentSort, titleStr = ViewBag.titleStr }) |
                    </div>
                    <div class="col-sm-12 col-md-4">
                        @using (Html.BeginForm("MyQuizTest", "QuizTest", FormMethod.Get, new { enctype = "multipart/form-data" }))
                        {
                            <label style="display:inline-block;font-weight:normal;">
                                Tìm theo tiêu đề:
                                <input name="titleStr" type="search" value="@(ViewBag.titleStr as string)" class="form-control">
                            </label>
                            <label style="display:inline-block;font-weight:normal;">
                                <input style="margin-top:-4.4px" class="btn btn-info" type="submit" value="Tìm kiếm" />
                            </label>
                        }

                    </div>
                    <div class="col-md-1">
                        <br />
                        <a href="/Quiz/MyQuiz" style="font-size: 14px;font-weight: normal;" class="badge badge-danger">RESET bộ lọc</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">

        <div class="card">
            <div class="card-header">
                @if (Model.PageNumber > 1)
                {
                    <h3 class="card-title">
                        100 đề thi thứ @Model.PageNumber
                    </h3>
                }
                else
                {
                    <h3 class="card-title">
                        100 đề thi đầu tiên
                    </h3>
                }
            </div>
            <div class="card-body">
                <table id="lstPost" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên</th>
                            <th>Môn học</th>
                            <th>Người tạo</th>
                            <th>Ngày tạo</th>
                            <th>Hiển thị</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <p>@item.TestID</p>
                                </td>
                                <td>
                                    @item.name
                                </td>
                                <td>
                                    @item.CreatorName
                                </td>
                                <td>
                                    @item.SubjectName
                                </td>
                                <td>
                                    @String.Format("{0:dd/MM/yyyy}", item.CreateDate)
                                </td>
                                <td>
                                    <label class="switch">
                                        <input onchange="changeStt(this)" type="checkbox" id="@item.TestID" @(item.status == TracNghiem.Models.TestStatus.Active ? "checked" : "") class="success">
                                        <span class="slider"></span>
                                    </label>
                                </td>
                                <td>
                                    @{
                                        if (User.Identity.Name == item.CreatorName || User.IsInRole("admin"))
                                        {
                                            @Html.ActionLink("Sửa", "Edit", new { id = item.TestID }, new { @class = "badge badge-primary" })
                                            <a onclick="deleteConfirm(@item.TestID,'@item.name')" href="#" class="badge badge-danger">Xóa</a>

                                        }
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Tên câu hỏi</th>
                            <th>Độ khó</th>
                            <th>Môn học</th>
                            <th>Ngày tạo</th>
                            <th>Hiển thị</th>
                            <th>Hành động</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
@{
    if (Model.PageCount > 1)
    {
        <nav aria-label="Page navigation example" style="text-align:center">
            @Html.PagedListPager(Model, page => Url.Action("MyQuizTest", new { page, sortOrder = Request.Params["sortOrder"], CurrentSort = Request.Params["CurrentSort"], titleStr = ViewBag.titleStr }), new PagedListRenderOptions { UlElementClasses = new string[] { "pagination" }, LiElementClasses = new string[] { "page-item" } })
        </nav>
    }
}
<!-- The delete Modal -->
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Bạn có muốn xóa đề ?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" id="deleteBtn" class="btn btn-danger">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<script src="~/Content/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/AdminLTE/plugins/datatables/dataTables.bootstrap4.min.js"></script>

<script>
    $(function () {
        $("#lstPost").DataTable();
    });
    var delmodal = $('#deleteModal');
    var idx;
    var deleteConfirm = function (id, title) {
        idx = id;
        delmodal.find('.modal-body').text(title);
        delmodal.modal('show');

    }
    $('#deleteBtn').click(function () {
        delmodal.modal('hide');
        $.ajax({
            type: "POST",
            url: '/QuizTest/DeleteQuizTest',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: idx }),
            dataType: "json",
            success: function (recData) {
                var notify = $.notify('<strong>Thành công</strong><br/>' + recData.Message + '<br />', {
                    type: 'pastel-info',
                    allow_dismiss: false,
                    timer: 1000,
                });
                setTimeout(function () {
                    window.location.reload();
                }, 2000);

            },
            error: function () {
                var notify = $.notify('<strong>Lỗi</strong><br/>Không xóa được<br />', {
                    type: 'pastel-warning',
                    allow_dismiss: false,
                });
            }
        });
    });
    var changeStt = function (xthis) {
        var xid = xthis.id;
        var st = xthis.checked ? 1 : 0;
        $.ajax({
            type: "POST",
            url: '/QuizTest/ChangeStatus',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: xid, state: st }),
            dataType: "json",
            success: function (recData) {
                var notify = $.notify('<strong>Thành công</strong><br/>' + recData.Message + '<br />', {
                    type: 'pastel-info',
                    allow_dismiss: false,
                    timer: 1000,
                });
            },
            error: function () { alert('An error occured'); }
        });
    }
</script>