@model PagedList.IPagedList<TracNghiem.ViewModel.LessonViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Kho bài học";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/AdminLTE/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />

<div style="margin-top:10px;"></div>

<div class="row">

    <div class="col-12">
        <div class="card">
            <div style="padding: 0.75rem 1.25rem;">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div>
                            <label style="display:inline-block;font-weight:normal">Sắp xếp theo <b>@ViewBag.sortname</b> @ViewBag.Sort</label>
                        </div>
                        @Html.ActionLink("Tiêu đề", "AllLesson", new { sortOrder = "title", CurrentSort = ViewBag.CurrentSort, titleStr = ViewBag.titleStr }) |
                        @Html.ActionLink("Ngày tạo", "AllLesson", new { sortOrder = "createdate", CurrentSort = ViewBag.CurrentSort, titleStr = ViewBag.titleStr }) |
                    </div>
                    <div class="col-sm-12 col-md-4">
                        @using (Html.BeginForm("AllLesson", "Lesson", FormMethod.Get, new { enctype = "multipart/form-data" }))
                        {
                            <label style="display:inline-block;font-weight:normal;">
                                Tìm theo tiêu đề:
                                <input name="titleStr" type="search" value="@(ViewBag.titleStr as string)" class="form-control">
                            </label>
                            <label style="display:inline-block;font-weight:normal;">
                                <input style="margin-top:-4.4px" class="btn btn-info" type="submit" value="Tìm kiếm" />
                            </label>
                        }

                    </div>
                    <div class="col-md-3">
                        <br />
                        <a href="/Lesson/AllLesson" style="font-size: 14px;font-weight: normal;padding: .8em;" class="badge badge-danger">RESET bộ lọc</a>
                        <a href="/Lesson/Create" style="font-size: 14px;font-weight: normal;padding: .8em;" class="badge badge-info">Thêm bài học mới</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">

        <div class="card">
            <div class="card-header">
                @if (Model.PageNumber > 1)
                {
                    <h3 class="card-title">
                        10 Bài học thứ @Model.PageNumber
                    </h3>
                }
                else
                {
                    <h3 class="card-title">
                        10 Bài học đầu tiên
                    </h3>
                }
            </div>
            <div class="card-body">
                <table id="lstPost" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên bài học</th>
                            <th>Thời lượng(phút)</th>
                            <th>Người tạo</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <p>@item.Id</p>
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Time phút
                            </td>
                            <td>
                                @item.CreatedBy
                            </td>
                            <td>
                                @String.Format("{0:dd/MM/yyyy}", item.CreatedDate)
                            </td>
                            <td>
                                <label class="switch">
                                    <input onchange="changeStt(this)" type="checkbox" id="@item.Id" @(item.Status == TracNghiem.Models.LessonStatus.Open ? "checked" : "") class="success">
                                    <span class="slider"></span>
                                </label>
                            </td>
                            <td>
                                @{
                                    if (User.Identity.Name == item.CreatedBy || User.IsInRole("admin"))
                                    {
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "badge badge-primary" })
                                        <a onclick="deleteConfirm(@item.Id,'@item.Name')" href="#" class="badge badge-danger">Xóa</a>
                                    }
                                }

                            </td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Tên bài học</th>
                            <th>Thời lượng(phút)</th>
                            <th>Người tạo</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
@{
    if (Model.PageCount > 1)
    {
        <nav aria-label="Page navigation example" style="text-align:center">
            @Html.PagedListPager(Model, page => Url.Action("AllLesson", new { page, sortOrder = Request.Params["sortOrder"], CurrentSort = Request.Params["CurrentSort"], titleStr = ViewBag.titleStr }), new PagedListRenderOptions { UlElementClasses = new string[] { "pagination" }, LiElementClasses = new string[] { "page-item" } })
        </nav>
    }
}
<!-- The delete Modal -->
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Bạn có muốn xóa bài học ?</h4>
                <button type="submit" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" id="deleteBtn" class="btn btn-danger">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<script src="~/Content/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/AdminLTE/plugins/datatables/dataTables.bootstrap4.min.js"></script>

<script>
$(function () {
    $("#lstPost").DataTable();
});
var delmodal = $('#deleteModal');
var idx;
var deleteConfirm = function (id, title) {
    debugger
    idx = id;
    delmodal.find('.modal-body').text(title);
    delmodal.modal('show');
};
$('#deleteBtn').click(function () {
    debugger
    delmodal.modal('hide');
    $.ajax({
        type: "POST",
        url: '/Lesson/DeleteLesson/' + idx,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (recData) {
            var notify = $.notify('<strong>Thành công</strong><br/>' + recData.Message + '<br />', {
                type: 'pastel-info',
                allow_dismiss: false,
                timer: 1000,
            });
            setTimeout(function () {
                window.location.reload();
            }, 2000);

        },
        error: function () {
            var notify = $.notify('<strong>Lỗi</strong><br/>Không xóa được<br />', {
                type: 'pastel-warning',
                allow_dismiss: false,
            });
        }
    });
});
var changeStt = function (xthis) {
    var xid = xthis.id;
    var st = xthis.checked ? 1 : 0;
    $.ajax({
        url: "/Lesson/ChangeStatus",
        type: "POST",
        dataType: "JSON",
        data: {
            id: xid,
            status: st
        },
        success: function (recData) {
            var notify = $.notify('<strong>Thành công</strong><br/>' + recData.Message + '<br />', {
                type: 'pastel-info',
                allow_dismiss: false,
                timer: 1000,
            });
        },
        error: function () { alert('An error occured'); }
    });
}
</script>