@model PagedList.IPagedList<TracNghiem.ViewModel.LessonViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "AllMyLesson";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="row" style="margin-left:14px">
        @foreach (var item in Model)
        {
            <div class="col-sm-6">
                <div id="card-advance" class="card card-default" style="margin-top:5px;width:500px;height:230px;box-shadow:2px 2px 10px #a2a2a2">
                    <div class="card-body" style="padding: 0px 20px">
                        <h3 style="padding-top:10px">@item.Name</h3>
                        <div>
                            @{
                                if (item.Description.Length > 100)
                                {
                                    <p style="margin-bottom:0">@item.Description.Substring(0, 100)...</p>
                                }
                                else
                                {
                                    <p style="margin-bottom:0">@item.Description</p>
                                }
                            }
                            <p style="margin-bottom:8px">Thời lượng: @item.Time phút</p>
                           
                            <p style="margin:0px;color:red;font-weight:600">Tác giả: @item.CreatedBy.</p>
                        </div>
                        <div class="card-header" style="border-bottom:none">
                            <div class="card-controls">
                                <a href="/Lesson/LessonDetail/@item.Id" class="btn btn-primary">Tham gia</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
