@model IEnumerable<TracNghiem.ViewModel.QuizResultViewModel>
@{
    ViewBag.Title = "Kết quả làm bài " + ViewBag.TestName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card  mt-3">
    <div class="card-body">
        <table id="lstPost" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Học sinh</th>
                    <th>Điểm</th>
                    <th>Bài học</th>
                    <th>Tình trạng</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p>@item.StudentName</p>
                        </td>
                        <td>
                            @item.Score / @item.MaxScore
                        </td>
                        <td>
                            @item.LessonName
                        </td>
                        <td>
                            @item.Status.GetDisplayName()
                        </td>
                        
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Học sinh</th>
                    <th>Điểm</th>
                    <th>Bài học</th>
                    <th>Tình trạng</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>