@model IEnumerable<TracNghiem.ViewModel.SubjectViewModel>
@{
    ViewBag.Title = "Quản lý môn học";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-12">
    <button class="btn btn-success" onclick="addSubject()">Thêm Môn Học</button>
    <hr/>
    <div class="card">
        <div class="card-body">
            <table id="lstPost" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên</th>
                        <th>Số câu hỏi</th>
                        <th>Số đề thi</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <p>@item.ID</p>
                            </td>
                            <td>
                                @item.SubjectName
                            </td>
                            <td>
                                @item.QuizCount
                            </td>
                            <td>
                                @item.QuizTestCount
                            </td>
                            <td>
                                <a onclick="deleteConfirm(@item.ID,'@item.SubjectName')" href="#" class="badge badge-danger">Xóa</a>
                                <a onclick="editSubject(@item.ID,'@item.SubjectName')" href="#" class="badge badge-info">Sửa</a>

                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Tên</th>
                        <th>Số câu hỏi</th>
                        <th>Số đề thi</th>
                        <th>Hành động</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- The edit Modal -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Sửa môn học</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <label for="Time">Tên môn học:</label><br />
                    <input class="form-control" type="text" id="subjectName" />
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" onclick="confirmEdit()" class="btn btn-info">Sửa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>

        </div>
    </div>
</div>

<!-- The add Modal -->
<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thêm môn học</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <label for="Time">Tên môn học:</label><br />
                    <input class="form-control" type="text" id="addSubjectName" />
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" onclick="confirmAdd()" class="btn btn-info">Thêm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>

        </div>
    </div>
</div>
<script>
    var SubjectID = -1;
    function deleteConfirm(id, name) {
        swal({
            title: "Xóa môn học",
            text: 'Bạn có chắc muốn xóa môn ' + name + ' \n Các câu hỏi và bài thi của môn này sẽ bị xóa',
            buttons: true,
            dangerMode: true,
            icon: "warning",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        }).then((willDelete) => {
            if (willDelete) {
                axios.post('/Quiz/DeleteSubject', { id: id }).then(resp => {
                    swal('Thành công', resp.data.Message, 'success').then(e => {
                        location.reload();
                    })
                }).catch((err) => {
                    swal('Lỗi',
                        'Lỗi hệ thống',
                        'error'
                    );
                });
            }
        });
    }
    function editSubject(sID, name) {
        SubjectID = sID;
        let modal = $('#editModal');
        $('#subjectName').val(name);
        modal.modal('show');
    }
    function confirmEdit() {
        let newName = $('#subjectName').val();
        axios.post('/Quiz/EditSubject', { id: SubjectID, name: newName }).then(resp => {
            $('#editModal').modal('hide');
            swal('Thành công', resp.data.Message, 'success').then(e => {
                location.reload();
            })
        }).catch((err) => {
            swal('Lỗi',
                'Lỗi hệ thống',
                'error'
            );
        });
    }
    function addSubject() {
        let modal = $('#addModal');
        $('#addSubjectName').val('');
        modal.modal('show');
    }
    function confirmAdd() {
        let newName = $('#addSubjectName').val();
        axios.post('/Quiz/AddSubject', {name: newName }).then(resp => {
            $('#addModal').modal('hide');
            swal('Thành công', resp.data.Message, 'success').then(e => {
                location.reload();
            })
        }).catch((err) => {
            swal('Lỗi',
                'Lỗi hệ thống',
                'error'
            );
        });
    }
</script>

